# Flutter/Dart
.dart_tool/
.pub/
.build/
.packages
pubspec.lock
*.lock

# Android
android/.gradle/
android/local.properties
android/app/google-services.json

# iOS
ios/Pods/
ios/Runner/GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.swp

# Keys
*.key
*.pem
.env
firebase_options.dart
